body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.profile-picture {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    border: 2px solid black; /* Optional: adds a border around the picture */
}

main {
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007acc;
}

a:hover {
    color: #005f99;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Optional: If you want to center within the viewport height */
    text-align: left;
}

.node-logo {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
}
