<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <section>
            <h2>Personal Information</h2>
            <p>Name: <span id="name"></span></p>
            <p>Year: <%= variables.strings.year %></p>
            <p>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></p>
            <p>LinkedIn: <a href="https://linkedin.com/in/yourprofile" target="_blank">LinkedIn Profile</a></p>
            <p>GitHub: <a href="<%= variables.links.github %>">GitHub Profile</a></p>
        </section>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>
