<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <section>
            <h2>Education</h2>
            <article>
                <h3>Exchange program in Universität Hamburg</h3>
                <p>Date: Sep 2023 - Sep 2024</p>
                <p>I spent my 3rd semester in Hamburg to follow some interesting courses like 
                    Bio-Inspired Artificial Intelligience, Natural Language Processing and Computer Vision.
                    Currently I am in my 4th and last semester, working on my thesis with the 
                    <strong><a href="https://www.bwl.uni-hamburg.de/en/isdi.html">Information Systems and Digital Innovation department</a></strong>
                    in collaboration with <strong><a href="https://verbund.edeka/edeka-it.html">Edeka IT</a></strong>,
                    which is titled "<em>Gamification to support frontline workers</em>".</p>
            </article>
            <article>
                <h3>Master Degree in Università degli Studi di Milano-Bicocca</h3>
                <p>Date: Oct 2022, Oct 2024</p>
            </article>
            <article>
                <h3>Master Degree in Università degli Studi di Milano-Bicocca</h3>
                <p>Date: Oct 2019 - Sept 2022</p>
            </article>
        </section>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>
