<footer>
    <p>&copy; <%= variables.strings.year %> <%= variables.strings.name %> <%= variables.strings.middlename %> <%= variables.strings.surname %></p>
    <img src="images/node_logo.png" alt="Node Logo" class="node-logo">
</footer>