<!-- header.ejs -->
<header>
    <h1>Header</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <img src="images/propic.jpg" alt="Profile Picture" class="profile-picture">
    </nav>
</header>