<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <section>
            <h2>Latest News</h2>
            <article>
                <h3>News Title 1</h3>
                <p>Date: July 3, 2024</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien arcu. Etiam sit amet.</p>
            </article>
            <article>
                <h3>News Title 2</h3>
                <p>Date: June 30, 2024</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien arcu. Etiam sit amet.</p>
            </article>
        </section>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>
